*{

}
.navbar{
    display: flex;
    flex-direction: row;
    background: darkblue;
    padding: 5px 20px ;
    column-gap: 5px;
    justify-content: space-between;
}
.nav-item{
    color: aliceblue;
    font-family: monospace;
}
.nav-item-container{
    display: flex;
    column-gap: 15px;
}
button{
    background-color: antiquewhite;
    border: none;
    color: blueviolet;
    border-radius: 10%;
    font-family: monospace;
}